.add-media-list-dropdown .dropdown-toggle {
    width: 40%;
    color: black;
    border-radius: 20px;
    margin-top: 20px;
}

.test {
    color: rgb(122, 121, 121);
}


.add-media-list-dropdown .dropdown-toggle::after {
    display: none;
}

.add-media-list-dropdown .dropdown-menu {
    position: absolute !important;
    left: 50% !important;
    transform: translate(-50%, 40%) !important;
    width: 40%;
    text-align: center;
    overflow-y: scroll !important;
}